<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org lang=">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> Kurs THYMELEAF</h1>
<p> Hello World!!</p>

<tr th:each="car:${cars}">

    <td th:text="${car.getMark()}"/><br>
    <td th:text="${car.getModel()}"/><br>
<p>______________+++++++++++++++++</p>
</tr>


<form th:action="@{/add-car}" th:object="${newCar}" method="post">
    <p>Model:<input type="text" th:field="*{model}"></p>
    <p>Mark:<input type="text" th:field="*{mark}"></p>
    <p>Model:<input type="submit" value="add new car"></p>


</form>



</body>
</html>
